<script>
  function navigateTo(page) {
    window.parent.location.href = page;
  }
</script>

<link href="css/header.css" rel="stylesheet" />
<nav>
  <b> <a href="#" onclick="navigateTo('/index.html')">ICWEINER.COM</a> | </b>
  <ul>
    <a href="#" onclick="navigateTo('/why.html')">Why</a>
    <a href="#" onclick="navigateTo('/products.html')">Products</a>
    <a href="#" onclick="navigateTo('/stats.html')">Stats</a>
    <a href="#" onclick="navigateTo('/the-team.html')">The Team</a>
  </ul>
</nav>
