body {
  margin: 0;
  padding: 0;
}




nav {
  display:flex;
  align-items:  center;
  height:100vh;
  width:100vw;
  padding-left: 3rem;
  padding-right: 1rem;
  background:  black;
}
a{
  color: white;
  text-decoration:  none;
}
a:hover{
  text-decoration:  underline;
}

ul{
  margin-left: auto;
  margin-right: 5rem;
  display:  flex;
  gap: 1rem;
}




